files: 
   # If necessary, a file containing MariaDB repository configuration 
   "/etc/yum.repos.d/mariadb.repo": 
      mode: "000644"
      owner: root
      group: root
      content: |
        # Example MariaDB repository configuration (adjust for your OS)
        [mariadb]
        name = MariaDB
        baseurl = https://yum.mariadb.org/10.5/centos7-amd64 
        gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
        gpgcheck=1

commands:
  01_update_yum:
    command: "yum update -y"
  02_install_mariadb_devel:
    command: "yum install -y mariadb-devel"

packages:
  yum:
    mariadb-devel: [] 
