option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: southern_delicious.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
    /media: media/
    
packages:
  yum:
    mariadb-devel: []

commands:
  upgrade_pip:
    command: "/var/app/venv/*/bin/python3.9 -m pip install --upgrade pip"


